{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="project-detail">
    <div class="project-detail__container">
        <!-- Project Image -->
        <img class="project-detail__image" src="{{ project.project_image.url }}" alt="{{ project.project_title }}">

        <!-- Project Description -->
        <div class="project-detail__content">
            <h1>{{ project.project_title }}</h1>
            <p>{{ project.project_description }}</p>

            <!-- Project Links -->
            <div class="project-detail__buttons">
                <a href="{{ project.project_link }}" class="btn" target="_blank">Live Demo</a>
                <a href="{{ project.project_github_link }}" class="btn" target="_blank">Github Link</a>
            </div>
        </div>
    </div>
</section>

    <footer>
        <div class="section__container footer__container" id="contact">
            <h2>Contact</h2>
            <p>
                I'd love to hear from you! Whether you have a project in mind, a
                question about my work, or just want to connect, feel free to reach
                out. You can contact me via email or through my social media channels.
                I am always excited to collaborate with like-minded individuals and
                explore new opportunities.
            </p>
            <div class="mail__to">
                <a href="mailto:faith.bolanle@yahoo.com">
                    <span><i class="ri-mail-line"></i></span>
                    faith.bolanle@yahoo.com
                </a>
            </div>
            
        </div>
    </footer>
    
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/style.js' %}"></script>
{% endblock %}